.tourney-header-thin {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 15vh;
}
.tourney-header-thick {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 15vh;
}

.col:first-child {
  transition: transform 0.1s linear;
}

.col:last-child {
  transition: transform 0.1s linear;
}

.next-section {
  margin-top: 20vh;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

.next-section > * {
  margin-bottom: 2rem;
  padding-bottom: 5rem;
}
.about-me {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

img {
  width: 5rem;
  padding: 1rem;
  height: auto;
}

img.photos {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

nav {
  background-color: rgba(32, 32, 32, 0.299);
  backdrop-filter: blur(10px);
  color: var(--text-color-dark);
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 100%;
}

.project-card {
  transition: transform 0.2s ease-in-out;
}

.project-content {
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.259);
  margin: 1rem;
  /* background: rgba(255, 251, 241, 0.157); */
  background: linear-gradient( rgba(28, 27, 25, 0.422), rgba(70, 69, 67, 0.251));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(78, 77, 74, 0.251);
}

.project-card:hover {
  transform: translateY(-5px);
}

.photos-header {
  margin-bottom: 2rem;
}

.slider-container {
  padding: 2rem 0;
}

.social-icons img {
  transition: transform 0.2s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1);
}